body {
    margin: 0;
}

.hide {
    display: none;
}

#api-choice {
    display: flex;
}

#api-choice > label {
    border: 1px solid gray;
    padding: 8px;
    flex-grow: 1;
    text-align: center;
}

#api-choice > label:not(:last-child) {
    border-right: none;
}